h1.MuiTypography-h1{
    display: inline;
    font-size: 2rem;
    text-align: left;
}

.authBtn{
    appearance: none;
    border: none;
    border-radius: 0;
    background: #eee;
    padding: 10px 15px;
    box-shadow: inset 0px 2px 18px -11px white;
    border: 1px solid #ddd;
}

#mainNav li{
    list-style: none;
    height: 100%;
}

#mainNav li a{
    padding: 20px 30px;
    text-decoration: none;
    color: #eee;
}
#mainNav li a:hover{
    color: #9ea;
}

#mainNav ul{
    display: flex;
}
